<div id="addProductSection">
  <h1>Lista de Productos en Tiempo Real</h1>

  <form onsubmit="return addProduct();">
    <label for="title">Producto:</label>
    <input type="text" id="title" name="title" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>

    <button type="submit">Agregar Producto</button>
  </form>
    <div id="caja"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>
