<div class="container">
    <form class="registro-form" action="/api/session/register" method="POST">
        <h1>Registrarse</h1>
        <label for="username" class="registro-label">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username" class="registro-input" required><br>
        <label for="name" class="registro-label">Nombre:</label><br>
        <input type="text" id="name" name="name" class="registro-input" required><br>
        <label for="email" class="registro-label">Correo Electrónico:</label><br>
        <input type="email" id="email" name="email" class="registro-input" required><br>
        <label for="password" class="registro-label">Contraseña:</label><br>
        <input type="password" id="password" name="password" class="registro-input" required><br>
        <button type="submit" class="registro-button">Registrarse</button>
        <p>O regístrate con:<a href="/api/session/register/github" class="github-button">GitHub</a></p>
        <p>Si tienes cuenta, accede: <a href="/api/view/login">Login</a></p>
    </form>
</div>

